@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes carousel {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33.333%); }
}

.animate-carousel {
  animation: carousel 20s linear infinite;
}

/* Custom scrollbar for carousel */
.carousel-scroll::-webkit-scrollbar {
  height: 3px;
}

.carousel-scroll::-webkit-scrollbar-thumb {
  background: rgb(45, 45, 45);
  border-radius: 12px;
  transition: background 0.2s;
}

.carousel-scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 45, 45);
}

.carousel-scroll::-webkit-scrollbar-track {
  background: rgb(45, 45, 45);
  border-radius: 12px;
}

.carousel-scroll {
  scrollbar-color: rgb(108, 108, 108) rgb(45, 45, 45) ;
  scrollbar-width: thin;
}
